<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Careers</h1>
        <div id="careers" class="mb-4"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function fetchCareers() {
            axios.get('http://localhost:3001/api/career/')
                .then(function (response) {
                    const careers = response.data;
                    const lista = document.getElementById('careers');
                    lista.innerHTML = '';
                    careers.forEach(career => {
                        const item = document.createElement('div');
                        item.className = 'alert alert-secondary';
                        item.textContent = `Name: ${career.name} - Code: ${career.code} - Description: ${career.description}`;
                        lista.appendChild(item);
                    });
                })
                .catch(function (error) {
                    console.log('Error fetching careers:', error);
                });
        }

    
        window.onload = function() {
            fetchCareers();
        };
    </script>
</body>
</html>